doctype html  
html(lang='fr')  
  head
    title Richard Tafurth-Garcia | Informaticien généraliste
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Libéral. Anti-consumériste. Pro-décentralisation. Marathonien (ou presque)")
    meta(name="author", content="Richard Tafurth-Garcia")
    link(rel="stylesheet", href="css/style.css")
  body
    header
      h1 Richard Tafurth-Garcia
      ul
        li
          a(href="mailto:hello@tgarcia.ch") @email
        li
          a(href="https://www.linkedin.com/in/richard-tafurth-garcia/") @linkedin
    aside
      img(src="images/me.svg", alt="Selfie. With a super edgy halftone effect or something.")      
    main
      section#head
        h2 Informaticien#[br] généraliste CFC 
        a(href="cv.pdf") lire mon CV
      section#presentation
        p#dynamic Humaniste.
        noscript
          ul
            li 
              p Libéral.
            li
              p Anti-consumériste.
            li
              p Pro-décentralisation.
            li
              p Marathonien (ou presque).
      section#contributions
        noscript Oops! Sans Javascript, je ne peux malheureusement pas récupérer les statistiques de contribs :/
        div#wcontrib
          p 0
          h3 Contributions#[br] hebdomadaires
        div#mcontrib
          p 0
          h3 Contributions#[br] mensuelles
        div#ycontrib
          p 0
          h3 Contributions#[br] annuelles
        div
          a(href="https://framagit.org/HiTechRabbit")
            img(src="images/gitlab.png", alt="Logo Gitlab")
          h3 Projets
    footer
      a(href="https://framagit.org/HiTechRabbit/blog-fork") Sources sous licence GPL
      p De Suisse.