doctype html  
html(lang='fr')  
  head
    title Richard Tafurth-Garcia | Informaticien généraliste
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Développeur logiciel. Humaniste. Anti-consumériste. Pro-décentralisation. Quasi-Marathonien.")
    meta(name="author", content="Richard Tafurth-Garcia")
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Richard Tafurth-Garcia
      ul
        li
          a(href="mailto:hello@tgarcia.ch") @email
        li
          a(href="https://www.linkedin.com/in/richard-tafurth-garcia/") @linkedin
    aside
      img(src="/images/me.svg", alt="Selfie. With a super edgy halftone effect or something.")      
    main
      section#head
        h2 Informaticien#[br] généraliste CFC 
        a(href="/cv.pdf") @lire mon CV
      section#presentation
        p#dynamic Humaniste.
        noscript
          ul
            li 
              p Développeur logiciel.
            li
              p Humaniste.
            li
              p Anti-consumériste.
            li
              p Pro-décentralisation.
            li
              p Quasi-Marathonien.
      section#gpg
        div
          h3 Clef GPG
          a(href="/public.key").
            833A 50B7 ACE7 DE0A 70A9 #[br] EF08 C3C7 030D 491A D0EF
            #[img(id="clipboard" title="Télécharger la clef publique GPG" src="images/publickey.svg", alt="Public key icon.")]
        div
          h3 Également disponible sur 
          a(href="hkps://keys.openpgp.org") @keys.openpgp.org
    footer
      a(href="https://github.com/rtafurthgarcia/tgarcia.ch") @Sources sous licence GPL
      p 🇨🇭
    // Matomo
    script.
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.tgarcia.ch"]);
      _paq.push(["setDoNotTrack", true]);
      _paq.push(["disableCookies"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="//anal.cdstm.ch/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    noscript
      p
        img(referrerpolicy='no-referrer-when-downgrade' src='//anal.cdstm.ch/matomo.php?idsite=3&rec=1' style='border:0;' alt='')