doctype html  
html(lang='fr')  
  head
    title Richard Tafurth-Garcia | Oops...
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
  body
    header
      h1 Erreur générale
      h2#error_description Un problème a été rencontré. L'accès vous a peut être été refusé. L'Administrateur a été notifié. 
      a(href="/") Retourner à la page d'accueil :/